.profile-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
  }

  .profile-image {
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  .profile-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }


.post-container{
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.mypost{
  width: 200px;
  margin-bottom: 30px;
}
.post-img{
  width: 100%;
}